html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
html.locked {
  overflow: hidden;
}

*,
*:focus,
*:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: "FactorA";
  font-display: swap;
  src: url(../fonts/FactorA-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url(../fonts/OpenSans-Bold.woff2) format("woff2"), url(../fonts/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url(../fonts/OpenSans-SemiBold.woff2) format("woff2"), url(../fonts/OpenSans-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 16px;
  line-height: 150%;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4F7F7;
  color: #0C3551;
  height: 100%;
  overflow-x: hidden;
}
body.locked {
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1280px;
}

@media screen and (min-width: 769px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.size_60 {
  width: 60px;
  height: 60px;
  flex: 0 0 auto;
}

.fill_none {
  fill: none;
}

.text-center {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: "FactorA", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin: 0;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 50px;
  margin-bottom: 50px;
}

h3 {
  font-size: 28px;
  margin-bottom: 50px;
}

.section {
  padding: 45px 0;
}

.header {
  height: 646px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header_img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  background-image: url(../img/header_img.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.header_top {
  padding: 11px 0;
  border-bottom: 1px solid rgba(12, 53, 81, 0.3);
  height: 100px;
}

.header_bottom {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_bottom h1 {
  max-width: 300px;
  padding-bottom: 80px;
}

.header_logo {
  width: 182px;
}

.header_container {
  max-width: 1420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0C3551;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease;
  transform: translateY(100px);
  z-index: 100;
  overflow: hidden;
}
.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}
.menu .header_top {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.menu_nav {
  max-width: 978px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 93px 10px 60px;
}
.menu_nav li:not(:last-child) {
  margin-bottom: 59px;
}
.menu_nav li a {
  color: #FFF;
  font-family: "FactorA", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 40px;
  transition: color 0.3s ease;
}
.menu_nav li a:hover {
  color: #F94334;
}

.menu_content {
  height: calc(100% - 100px);
  overflow: auto;
  scrollbar-width: none;
}
.menu_content::-webkit-scrollbar {
  display: none;
}

.menu_btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 10px;
  cursor: pointer;
}
.menu_btn span {
  background: #0C3551;
  height: 2px;
  width: 20px;
  position: relative;
  transition: all 0.3s ease;
}
.menu_btn span:after, .menu_btn span:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background: #0C3551;
  transition: all 0.3s ease;
}
.menu_btn span:after {
  top: 7px;
}
.menu_btn span:before {
  top: -7px;
}
.menu_btn:hover:not(.active) span {
  background: #3372B7;
}
.menu_btn:hover:not(.active) span:after, .menu_btn:hover:not(.active) span:before {
  background: #3372B7;
}
.menu_btn.active span {
  background: transparent;
}
.menu_btn.active span:before {
  background-color: #fff;
  top: 0;
  transform: rotate(-135deg);
}
.menu_btn.active span:after {
  top: 0;
  background-color: #fff;
  transform: rotate(135deg);
}

@keyframes title {
  to {
    transform: translate3d(0px, 0em, 0px);
  }
}
body.animate_show .home_title .line span {
  top: -0.1em;
  transform: translate3d(0, 100%, 0);
  animation: title 0.9s ease-in-out forwards;
  animation-delay: 0.1s;
}
body.animate_show .home_title .line:nth-child(2) span {
  animation-delay: 0.2s;
}
body.animate_show .home_title .line:nth-child(3) span {
  animation-delay: 0.3s;
}
body.animate_show .home_title .line:nth-child(4) span {
  animation-delay: 0.4s;
}

.home_title {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  will-change: transform;
}
.home_title .line {
  display: flex;
  text-align: start;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.home_title .line span {
  position: relative;
}

.about {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 45px;
}
.about:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 860px;
  background-image: url(../img/triangles_bg_left.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}
.about .container {
  position: relative;
  z-index: 1;
}

.about_block {
  display: flex;
}
.about_block .left,
.about_block .right {
  width: 50%;
  padding-top: 60px;
  padding-bottom: 80px;
}
.about_block .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about_block .right {
  padding-left: 100px;
}
.about_block .right h2 {
  margin-bottom: 40px;
}
.about_block .right p:not(:last-child) {
  margin-bottom: 30px;
}
.about_block .right .text {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.about_list li {
  display: flex;
  gap: 30px;
  align-items: center;
}
.about_list li:not(:last-child) {
  margin-bottom: 79px;
}
.about_list li span {
  font-size: 60px;
  display: block;
  margin-top: 8px;
  font-family: "FactorA", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 110%;
}

.wave_bg {
  z-index: -1;
  position: absolute;
  top: 23px;
  left: 0;
  right: 0;
  width: 100%;
  height: 321px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.15;
  overflow: hidden;
}
.wave_bg.aos-animate svg path {
  stroke-dashoffset: 0;
}
.wave_bg svg {
  display: block;
  position: relative;
  left: -338px;
  min-width: calc(100% + 338px);
}
.wave_bg svg path {
  stroke-dashoffset: 2366.7668457031px;
  stroke-dasharray: 2366.7668457031px;
  transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.advantages_block {
  position: relative;
}
.advantages_block .container {
  position: relative;
  z-index: 1;
}

.advantages_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-left: -20px;
  margin-right: -20px;
}
.advantages_list li {
  padding: 12px 20px;
  width: 33.33%;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "FactorA", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 20px;
}

.services_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  margin-left: -20px;
  margin-right: -20px;
}

.services_col {
  width: 33.33%;
  padding-left: 20px;
  padding-right: 20px;
}

.services_item {
  height: 100%;
  border: 1px solid #E9EDEF;
  background: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.services_item .img {
  height: 276px;
  height: 0;
  padding-bottom: 74%;
  overflow: hidden;
  position: relative;
}
.services_item .img img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services_item .text {
  padding: 30px;
}

.types_cargo_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -3px;
  margin-right: -3px;
  row-gap: 6px;
}

.types_cargo_col {
  padding-left: 3px;
  padding-right: 3px;
  width: 20%;
}

.types_cargo_wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  align-items: center;
  background: #0C3552;
  font-size: 22px;
  font-family: "FactorA", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 110%;
  color: #fff;
  text-align: center;
}
.types_cargo_wrapper .size_60 {
  width: 60px !important;
  height: 60px !important;
}

.types_cargo_item {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
}

.transportation {
  margin-top: 45px;
}

.transportation_wrapper {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.transportation_wrapper:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: 860px;
  background-image: url(../img/triangles_bg_right.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}
.transportation_wrapper .container {
  position: relative;
  z-index: 1;
}

.transportation_block {
  display: flex;
}
.transportation_block .left,
.transportation_block .right {
  width: 50%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.transportation_block .left {
  padding-right: 100px;
}
.transportation_block .right {
  padding-left: 100px;
}

.transportation_list li {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 153%;
}
.transportation_list li:not(:last-child) {
  margin-bottom: 30px;
}

.vbl {
  background: #0C3552;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}
.vbl .logo {
  width: 233px;
}

.vbl_block {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}
.vbl_block h3 {
  padding-top: 2px;
  margin-bottom: 8px;
}

.waves_section {
  background: #376AA9;
  padding: 105px 0 0;
  overflow: hidden;
}

.waves_section_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
}
.waves_section_list li {
  font-size: 56px;
  font-family: "FactorA", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 110%;
  color: #fff;
  width: 35%;
}
.waves_section_list li:last-child {
  text-align: right;
}
.waves_section_list li:nth-child(2) {
  width: 30%;
  text-align: center;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.3);
}

@keyframes boat_01 {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  25% {
    transform: rotate(-1deg) translateY(-3px);
  }
  50% {
    transform: rotate(0deg) translateY(-5px);
  }
  75% {
    transform: rotate(1deg) translateY(-3px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}
@keyframes boat_02 {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  25% {
    transform: rotate(1deg) translateY(-3px);
  }
  50% {
    transform: rotate(0deg) translateY(-5px);
  }
  75% {
    transform: rotate(-1deg) translateY(-3px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}
.waves_wrapper {
  position: relative;
}
.waves_wrapper .container {
  position: relative;
}
.waves_wrapper .ship {
  position: absolute;
  z-index: 1;
}
.waves_wrapper .ship_01 {
  top: 254px;
  right: 38px;
  animation: boat_01 2s linear infinite;
}
.waves_wrapper .ship_01 img {
  width: 526px;
}
.waves_wrapper .ship_02 {
  top: 34px;
  left: 58px;
  animation: boat_02 3s linear infinite;
}
.waves_wrapper .ship_02 img {
  width: 456px;
}

@keyframes wave {
  100% {
    transform: translateX(-50%);
  }
}
@keyframes waveBack {
  to {
    transform: translateX(50%);
  }
}
.waves_block {
  position: relative;
  height: 540px;
}
.waves_block div {
  height: 182px;
  position: absolute;
  background-position: center;
  background-repeat: repeat;
  animation: var(--animation) calc(var(--speed, 0) * 1s) infinite linear alternate;
  width: 200%;
}
.waves_block div:nth-of-type(1) {
  --speed: 15;
  --animation: wave;
  left: 0;
  top: 0;
  background-image: url("../img/wave_fill_01.svg");
  margin-bottom: -78px;
}
.waves_block div:nth-of-type(2) {
  --speed: 20;
  --animation: waveBack;
  right: 0;
  top: 106px;
  background-image: url("../img/wave_fill_02.svg");
  margin-bottom: -76px;
}
.waves_block div:nth-of-type(3) {
  --speed: 30;
  --animation: wave;
  left: 0;
  top: 211px;
  background-image: url("../img/wave_fill_03.svg");
  margin-bottom: -97px;
}
.waves_block div:nth-of-type(4) {
  --speed: 20;
  --animation: waveBack;
  right: 0;
  bottom: 117px;
  background-image: url("../img/wave_fill_04.svg");
  margin-bottom: -76px;
}
.waves_block div:nth-of-type(5) {
  --speed: 15;
  --animation: wave;
  left: 0;
  bottom: -21px;
  background-image: url("../img/wave_fill_05.svg");
  margin-bottom: -43px;
}

.fleet {
  margin-top: 0;
}
.fleet h2 {
  text-align: center;
}

.tabs_nav {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.tabs_nav_item {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 20px 40px;
  text-transform: uppercase;
  font-feature-settings: "clig" off, "liga" off;
  color: #3372B7;
  border-radius: 100px;
  border: 2px solid #3372B7;
  transition: all 0.3s ease;
}
.tabs_nav_item:hover:not(.active) {
  color: #0C3551;
  border-color: #0C3551;
}
.tabs_nav_item.active {
  color: #F94334;
  border-color: #F94334;
  cursor: default;
}

.show_text {
  display: none;
}

.show_btn {
  color: #3372B7;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.show_btn span:first-child {
  display: inline-flex;
}
.show_btn span:last-child {
  display: none;
}
.show_btn:after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.42 0.5L6 5.44467L10.59 0.5L12 2.02227L6 8.5L-6.65404e-08 2.02227L1.42 0.5Z' fill='%233372B7'/%3e%3c/svg%3e ");
  transition: all 0.3s ease;
  background-size: contain;
}
.show_btn:hover:after {
  transform: translateY(3px);
}
.show_btn.active span:first-child {
  display: none;
}
.show_btn.active span:last-child {
  display: inline-flex;
}
.show_btn.active:after {
  transform: rotate(180deg);
}

.swiper-button-next,
.swiper-button-prev {
  width: 54px;
  height: 54px;
  border-radius: 30px;
  border: 1px solid #0C3551;
  background-color: #FFF;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  width: 8px;
  height: 12px;
  content: "";
  background-repeat: no-repeat;
}

.swiper-button-next:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='13' viewBox='0 0 9 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.5 10.6855L5.44467 6.10547L0.5 1.51547L2.02227 0.105469L8.5 6.10547L2.02227 12.1055L0.5 10.6855Z' fill='%230C3551'/%3e%3c/svg%3e ");
}

.swiper-button-prev:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='13' viewBox='0 0 9 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.5 10.6855L3.55533 6.10547L8.5 1.51547L6.97773 0.105469L0.5 6.10547L6.97773 12.1055L8.5 10.6855Z' fill='%230C3551'/%3e%3c/svg%3e ");
}

.swiper-pagination {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.slider_action_wrapper {
  position: absolute;
  height: 0;
  padding-bottom: 37.73%;
  width: 100%;
  top: 0;
  right: 0;
}

.slider_action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  position: absolute;
  top: calc(100% + 32px);
  right: 28px;
  width: 100%;
  height: auto;
}
.slider_action .swiper-button-next,
.slider_action .swiper-button-prev {
  position: relative;
  margin-top: 0;
  top: initial;
}
.slider_action .swiper-button-next {
  right: initial;
}
.slider_action .swiper-button-prev {
  left: initial;
}
.slider_action .swiper-pagination {
  position: relative;
  width: auto;
  bottom: initial;
  left: initial;
}
.slider_action .swiper-pagination span {
  padding: 0 8px;
}

.fleet_slider .swiper-slide {
  background-color: #F4F7F7;
  height: auto;
}

.fleet_item {
  position: relative;
  border: 1px solid #E9EDEF;
  background: #FFF;
}
.fleet_item .img {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 37.73%;
}
.fleet_item .img img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fleet_item .head {
  padding: 20px 274px 20px 30px;
  border-bottom: 1px solid rgba(12, 53, 81, 0.3);
}
.fleet_item .title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.fleet_item .article {
  display: block;
  color: #535C69;
  font-size: 20px;
}
.fleet_item .list {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 30px 0;
  margin-left: -20px;
  margin-right: -20px;
}
.fleet_item .list .item {
  width: 25%;
  margin: 15px 0;
  padding: 0 20px;
  position: relative;
}
.fleet_item .list .item:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -15px;
  right: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba(12, 53, 81, 0.3);
}
.fleet_item .property_item {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
}
.fleet_item .property_item:not(:last-of-type) {
  margin-bottom: 10px;
}
.fleet_item .property_item.nowrap {
  display: flex;
  gap: 20px;
}
.fleet_item .property_item.nowrap span {
  max-width: 124px;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: 0;
}
.fleet_item .property_item span {
  display: block;
  color: #535C69;
  font-size: 12px;
  font-style: normal;
  line-height: 133%;
  font-weight: 400;
  margin-bottom: 10px;
}

.contacts {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.contacts:before {
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  top: 28px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 84%;
  background-repeat: repeat;
  background-position: center;
  background-image: url(../img/wave_02.svg);
  background-position: top;
  opacity: 0.5;
}
.contacts:after {
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: 860px;
  background-image: url(../img/triangles_bg_right.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}
.contacts .container {
  position: relative;
  z-index: 2;
}

.contacts_bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #376AA9;
}
.contacts_bg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.contacts_block {
  display: flex;
}
.contacts_block .left,
.contacts_block .right {
  width: 50%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.contacts_block .left {
  color: #fff;
  padding-right: 100px;
}
.contacts_block .right {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
}

.contacts_item:not(:last-child) {
  margin-bottom: 70px;
}
.contacts_item .title {
  font-family: "FactorA", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 41px;
  margin-bottom: 14px;
}
.contacts_item .text {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.contacts_item .text > * {
  color: rgba(255, 255, 255, 0.6);
}
.contacts_item .text > *:not(:last-child) {
  margin-bottom: 14px;
}
.contacts_item .text a {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transition: all 0.3s ease;
}
.contacts_item .text a:hover {
  color: #fff;
}
.contacts_item .text .link {
  font-size: 15px;
  line-height: 160%;
  color: #fff;
  text-decoration-line: underline;
  transition: all 0.3s ease;
}
.contacts_item .text .link:hover {
  text-decoration: none;
}

.form.hide {
  display: none;
}

.form_input_group {
  display: block;
  margin-bottom: 25px;
}
.form_input_group.error .form_text {
  color: #F94334;
}
.form_input_group.error .text_error {
  display: block;
}
.form_input_group.error .form_input {
  border-color: #F94334;
}
.form_input_group.error .form_input::-moz-placeholder {
  color: #F94334;
}
.form_input_group.error .form_input::placeholder {
  color: #F94334;
}

.form_input {
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  padding: 19px 24px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  width: 100%;
  color: #0D3550;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 62px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
}
.form_input::-moz-placeholder {
  color: #A5ADB3;
}
.form_input::placeholder {
  color: #A5ADB3;
}

textarea.form_input {
  height: 113px;
  resize: none;
  display: block;
}

.form_text {
  color: #A5ADB3;
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
}

.text_error {
  display: none;
  color: #F94334;
  font-size: 13px;
}

.btn {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100px;
  background: #3372B7;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #0C3551;
}

.form_after {
  height: 100%;
  display: none;
  padding-top: 95px;
}
.form_after.show {
  display: block;
}
.form_after svg {
  margin-bottom: 31px;
}
.form_after .title {
  font-family: "FactorA", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 110%;
  font-size: 41px;
  margin-bottom: 10px;
}
.form_after .text {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.form_after .btn {
  margin-top: 31px;
  width: -moz-fit-content;
  width: fit-content;
}

.footer {
  background: #0C3551;
  color: #fff;
  padding-top: 26px;
}
.footer .logo {
  width: 187px;
}

.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(222, 227, 233, 0.2);
}
.footer_top .text {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_top ul {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: wrap;
}
.footer_top ul a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 200%;
  transition: all 0.3s ease;
}
.footer_top ul a:hover {
  color: #fff;
}

.social_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px 0;
}
.social_list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 80px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
}
.social_list a:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
.social_list a:hover svg {
  transform: scale(1.1);
}
.social_list svg {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.footer_waves {
  height: 74px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.wave {
  animation: wave calc(var(--speed, 0) * 1s) infinite linear;
  background-size: 50% 100%;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  width: 400%;
}
.wave:nth-of-type(1) {
  --speed: 30;
  background-image: url("../img/wave_footer_02.svg");
  opacity: 0.4;
}
.wave:nth-of-type(2) {
  --speed: 75;
  background-image: url("../img/wave_footer_01.svg");
}

@media screen and (max-width: 1300px) {
  .header_img {
    background-position: center left 300px;
  }
  .about_block .right {
    padding-left: 50px;
  }
  .services_list {
    margin-left: -15px;
    margin-right: -15px;
    row-gap: 30px;
  }
  .services_col {
    padding-left: 15px;
    padding-right: 15px;
  }
  .transportation_block .left {
    padding-right: 50px;
  }
  .transportation_block .right {
    padding-left: 50px;
  }
  .vbl_block {
    gap: 30px;
  }
  .fleet_item .list {
    margin-left: -10px;
    margin-right: -10px;
  }
  .fleet_item .list .item {
    padding: 0 10px;
  }
  .contacts_block .left {
    padding-right: 50px;
  }
  .contacts_block .right {
    padding-left: 50px;
  }
  .advantages_list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .advantages_list li {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .header_img {
    background-size: cover;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  h3 {
    margin-bottom: 40px;
  }
  .form_after {
    padding-top: 30px;
  }
  .form_after .title {
    font-size: 34px;
  }
  .size_60 {
    width: 50px;
    height: 50px;
  }
  .about_list li {
    gap: 20px;
  }
  .about_list li span {
    font-size: 45px;
  }
  .about_list li:not(:last-child) {
    margin-bottom: 50px;
  }
  .advantages_list li {
    width: 50%;
  }
  .services_item .text {
    padding: 20px;
  }
  .waves_section_list li {
    font-size: 40px;
  }
  .fleet_item .title {
    font-size: 30px;
  }
  .contacts_item:not(:last-child) {
    margin-bottom: 50px;
  }
  .contacts_item .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 992px) {
  .about_block {
    flex-direction: column;
  }
  .about_block .left,
  .about_block .right {
    width: 100%;
  }
  .about_block .left {
    position: relative;
    padding-bottom: 40px;
    padding-top: 30px;
  }
  .about_block .left:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: -40px;
    width: 1728px;
    height: 860px;
    background-image: url(../img/triangles_bg_left.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    z-index: -1;
  }
  .about_block .right {
    padding-bottom: 40px;
    padding-top: 30px;
    padding-left: 0;
  }
  .about {
    margin-bottom: 20px;
  }
  .about:before {
    display: none;
  }
  .about_list {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .services_col {
    width: 50%;
  }
  .types_cargo_col {
    width: 33.33%;
  }
  .transportation {
    margin-top: 20px;
  }
  .transportation_wrapper:before {
    display: none;
  }
  .transportation_block {
    flex-direction: column;
  }
  .transportation_block .left,
  .transportation_block .right {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .transportation_block .left {
    padding-right: 0;
    position: relative;
    z-index: 1;
  }
  .transportation_block .left:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -40px;
    width: calc(100% + 80px);
    height: 100%;
    z-index: -1;
    background-color: #fff;
  }
  .transportation_block .right {
    padding-left: 0;
    position: relative;
  }
  .transportation_block .right:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 76px;
    left: -40px;
    width: 1728px;
    height: 860px;
    background-image: url(../img/triangles_bg_right.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    z-index: -1;
  }
  .vbl {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .vbl_block {
    gap: 20px;
    flex-direction: column;
  }
  .waves_section_list li {
    font-size: 36px;
  }
  .tabs_nav {
    gap: 20px;
  }
  .tabs_nav span {
    display: none;
  }
  .fleet_item .title {
    font-size: 25px;
  }
  .contacts {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .contacts:before, .contacts:after {
    display: none;
  }
  .contacts_bg {
    display: none;
  }
  .contacts_block {
    flex-direction: column;
  }
  .contacts_block .left,
  .contacts_block .right {
    width: 100%;
  }
  .contacts_block .left {
    background-color: #376AA9;
    margin: 0 -40px;
    width: calc(100% + 80px);
    padding: 30px 40px 40px;
    position: relative;
    z-index: 1;
  }
  .contacts_block .left:before {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    top: 28px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 28px);
    background-repeat: repeat;
    background-position: center;
    background-image: url(../img/wave_02.svg);
    background-position: top;
    opacity: 0.5;
    z-index: -1;
  }
  .contacts_block .right {
    position: relative;
    padding: 30px 0 40px;
  }
  .contacts_block .right:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -40px;
    width: 1728px;
    height: 860px;
    background-image: url(../img/triangles_bg_right.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    z-index: -1;
  }
  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .waves_section {
    padding-top: 30px;
  }
  .waves_section_list {
    margin-bottom: 40px;
  }
  .tabs_nav {
    margin-bottom: 30px;
  }
  .fleet_item .list .item {
    width: 33.33%;
  }
}
@media screen and (min-width: 993px) {
  .fleet_item .list .item:nth-child(4n) {
    border-right: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .fleet_item .list .item:nth-child(3n) {
    border-right: none;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .fleet_item .list .item:nth-child(2n) {
    border-right: none;
  }
}
@media screen and (min-width: 577px) {
  .fleet_item .list .item {
    border-right: 1px solid rgba(12, 53, 81, 0.3);
  }
}
@media screen and (max-width: 768px) {
  .wave_bg {
    top: 50%;
    transform: translateY(-50%);
  }
  .about_block .right .text {
    font-size: 18px;
  }
  .advantages_list li {
    font-size: 18px;
  }
  .types_cargo_item {
    font-size: 16px;
  }
  .fleet_item .list .item {
    width: 50%;
  }
  .tabs_nav {
    gap: 10px;
  }
  .header {
    height: auto;
  }
  .header_img {
    display: none;
  }
  .header_bottom {
    overflow: hidden;
    background-image: url("../img/header_bg.jpg");
    position: relative;
    height: 464px;
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 25px;
  }
  .header_bottom h1 {
    color: #fff;
  }
  .header_bottom:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -180px;
    width: 327.5px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='328' height='483' viewBox='0 0 328 483' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M244.5 176.5L0 483H83L327.5 176.5L190.5 0H107.5L244.5 176.5Z' fill='%23F9F9F9'/%3e%3c/svg%3e ");
  }
  .menu_btn {
    left: 0;
  }
  .about_list li {
    padding: 0 10px;
  }
  .about_block .left:before {
    right: -10px;
  }
  .advantages_list {
    margin-right: 0;
    margin-left: 0;
    gap: 36px;
  }
  .advantages_list li {
    width: 100%;
    padding: 0;
    align-items: flex-start;
  }
  .services_list {
    margin-left: 0;
    margin-right: 0;
    gap: 40px;
  }
  .services_col {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .waves_section_list {
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .waves_section_list li {
    width: 100%;
  }
  .waves_section_list li:not(:last-child) {
    margin-bottom: 20px;
  }
  .waves_section_list li:nth-child(2) {
    width: 100%;
    border: none;
    text-align: left;
  }
  .waves_section_list li:last-child {
    text-align: left;
  }
  .waves_wrapper .ship_01 {
    right: -175px;
  }
  .waves_wrapper .ship_02 {
    top: 18px;
    left: -171px;
  }
  .fleet h2 {
    text-align: left;
  }
  .fleet_item .title {
    font-size: 20px;
  }
  .slider_action {
    top: calc(100% - 33px);
    right: 0;
  }
  .slider_action .swiper-pagination {
    background-color: #fff;
    padding: 5px;
  }
  .slider_action .swiper-button-next,
  .slider_action .swiper-button-prev {
    display: none;
  }
  .fleet_item .head {
    padding: 20px 10px;
  }
  .show_btn {
    padding: 20px 10px;
  }
  .fleet_item .list {
    padding: 0 20px 0;
  }
  .fleet_item .list .item {
    margin: 20px 0;
  }
  .fleet_item .list .item:after {
    bottom: -20px;
  }
  .contacts_item:not(:last-child) {
    margin-bottom: 30px;
  }
  .footer_top {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .footer_top .text {
    text-align: left;
  }
  .footer_waves {
    display: none;
  }
  .menu_nav {
    padding: 44px 10px 44px 36px;
  }
  .menu_nav li:not(:last-child) {
    margin-bottom: 40px;
  }
  .menu_nav li a {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .menu_content {
    height: calc(100% - 53px);
  }
  h1,
  h2 {
    font-size: 32px;
  }
  h2 {
    margin-bottom: 30px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .form_after {
    padding-top: 30px;
  }
  .form_after .title {
    font-size: 25px;
  }
  .form_after .text {
    font-size: 16px;
  }
  .about_block .right h2 {
    margin-bottom: 30px;
  }
  .header_top {
    height: 53px;
    padding: 8px 0;
  }
  .header_logo {
    width: 26px;
  }
  .menu_btn {
    height: 37px;
    width: 37px;
  }
  .fleet_item .list .item {
    width: 100%;
  }
  .transportation_list li {
    font-size: 14px;
  }
  .about_block .right .text {
    font-size: 16px;
  }
  .advantages_list li {
    font-size: 16px;
  }
  .show_btn {
    font-size: 16px;
  }
  .about_list li {
    font-size: 14px;
    gap: 10px;
  }
  .about_list li span {
    font-size: 30px;
    margin-top: 5px;
  }
  .about_list li:not(:last-child) {
    margin-bottom: 41px;
  }
  .size_60 {
    width: 40px;
    height: 40px;
  }
  .about_list {
    max-width: 100%;
    margin: 0;
  }
  .services_item .img {
    padding-bottom: 64%;
  }
  .services_item .text {
    padding: 20px 10px;
  }
  .types_cargo_col {
    width: 50%;
  }
  .types_cargo_wrapper {
    font-size: 14px;
    gap: 8px;
  }
  .waves_block {
    height: 364px;
  }
  .waves_block div:nth-of-type(2) {
    top: 68px;
  }
  .waves_block div:nth-of-type(3) {
    top: 131px;
  }
  .waves_block div:nth-of-type(4) {
    bottom: 58px;
  }
  .waves_block div:nth-of-type(5) {
    bottom: -43px;
  }
  .waves_wrapper .ship_01 {
    right: -317px;
    top: 143px;
  }
  .waves_wrapper .ship_01 img {
    max-width: initial;
    width: 532px;
  }
  .waves_wrapper .ship_02 {
    top: 28px;
    left: -128px;
  }
  .waves_wrapper .ship_02 img {
    width: 275px;
  }
  .tabs_nav_item {
    font-size: 14px;
    padding: 15px 30px;
  }
  .fleet_item .img {
    padding-bottom: 47.73%;
  }
  .slider_action_wrapper {
    padding-bottom: 47.73%;
  }
  .fleet_item .list .item {
    padding: 0;
  }
  .contacts_item .text {
    font-size: 14px;
  }
  .form_input {
    height: 50px;
    padding: 10px 14px;
  }
  .form_input_group {
    margin-bottom: 20px;
  }
  .btn {
    font-size: 14px;
    padding: 14px 20px;
  }
  form .btn {
    width: 100%;
  }
  .footer .logo {
    width: 138px;
  }
  .footer_top {
    padding-bottom: 20px;
  }
  .social_list {
    padding-top: 20px;
  }
  .menu_nav li a {
    font-size: 21px;
  }
}